*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-link{
    margin-top:30px;
   
  }
  .span{
    text-align: justify;
  }
  .navbar{
    color: white;
   
}

.nav-link{
    margin-top:30px;
    padding:40px;
    font-family: 'Montserrat';
  
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    transition: padding 0.6s;
}
.nav-item .nav-link{
    color: black;
    font-size: 17px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
.img-fluid{
    width: 19%;
    height:40px;
   
}
/* Add this CSS to your existing styles or style tag */
.nav-item:hover .dropdown-menu {
    display: block;
    margin-top: 2px;
    border: none;
   
}
.navbar-nav .nav-link:hover {
    border:1px solid #0d0e0d; 
 
}
.dropdown-menu {
    display: none;
    position: absolute;
    background: #fff;
    padding: 10px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
    border: none;
    width: 220px;
    border-bottom: 1px solid #000;
}
.nav-item:hover .dropdown-menu {
    opacity: 1;
}

.dropdown-menu li {
    padding: 5px 0;
    background-color: #f4f6f7;
    border-top: 1px solid #dfe5e8;
    line-height: 43px;
}
.dropdown-menu li a {
    color: black;
    text-decoration: none;
    padding-left: 15px;
}

.dropdown-menu li:hover {
    color: #007bff;
    background-color: #fff;
    border-left: 3px solid #000;
}

.portfolio {
    background-color: #ededed;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -82px;
    margin-bottom: 50px;
}
#storyDetails{
    background-color: #ededed;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 35px;
}

#storyDetails h3{
    padding-top: 45px;
    padding-left: 40px;
       font-family: 'Montserrat';
}
.anchor{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.anchor i{
    padding-top: 5px;
}
.anchor a{
    text-decoration: none;
    color: #000;
}
.active{
    border-bottom: 2px solid #000;
    padding-bottom: 7px;
}
/* #imagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.image {
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 700px;
}
#imagesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the column width as needed */
    /* gap: 10px; /* Gap between grid items */
    /* width: 100%;
  } */

  /* Style for each image */
  /* .imageItem {
    width: 100%;
    height: auto;
  } */ 

  #imagesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the column width as needed */
    gap: 10px; /* Gap between grid items */
    width: 100%;
  }

  /* Style for each image */
  .imageItem {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
