*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    color: white;
   
}

.nav-link{
    margin-top:30px;
    padding:40px;
    font-family: 'Montserrat';
  
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    transition: padding 0.6s;
}
.nav-item .nav-link{
    color: black;
    font-size: 17px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
.img-fluid{
    width: 19%;
    height:40px;
   
}
/* Add this CSS to your existing styles or style tag */
.nav-item:hover .dropdown-menu {
    display: block;
    margin-top: 2px;
    border: none;
   
}
.navbar-nav .nav-link:hover {
    border:1px solid #0d0e0d; 
 
}
.dropdown-menu {
    display: none;
    position: absolute;
    background: #fff;
    padding: 10px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
    border: none;
    width: 220px;
    border-bottom: 1px solid #000;
}
.nav-item:hover .dropdown-menu {
    opacity: 1;
}

.dropdown-menu li {
    padding: 5px 0;
    background-color: #f4f6f7;
    border-top: 1px solid #dfe5e8;
    line-height: 43px;
}
.dropdown-menu li a {
    color: black;
    text-decoration: none;
    padding-left: 15px;
}

.dropdown-menu li:hover {
    color: #007bff;
    background-color: #fff;
    border-left: 3px solid #000;
}
.buttonss{
    display:flex;
    width:100%;
    height:70px;

}

.btn {
    width:250px;
    height:40px;
}

.portfolio {
    background-color: #ededed;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card{
    display: flex;
}

.portfolio h3{
    padding-top: 45px;
    padding-left: 40px;
       font-family: 'Montserrat';
}
.anchor{
    display: flex;
    margin-top: 141px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.anchor i{
    padding-top: 5px;
}
.anchor a{
    text-decoration: none;
    color: #000;
}
.rowstory .card{
    height: 500px;
    margin: 20px;
    border: none;
    border-bottom: 0.7px solid #e3dfdf;
}
.rowstory .card .story{
    text-align: center;
    font-size: 18px;
    padding-top: 60px;
    border: none;
}
.rowstory .card .line{
    width: 50px;
    height: 0.4px;
    background-color: #272626;
    margin: auto;
    margin-top: 5px;
    transition: width 0.3s ease;
}
.rowstory .card:hover .line {
    width: 100px;
}
.rowstory .card .icons {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.fa-arrow-right{
    margin-bottom: 20px;
}
.rowstory .card:hover .icons {
    opacity: 1;
    pointer-events: auto; 
}
.rowstory .card .icons .share-icon,
.rowstory .card .icons .message-icon {
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    background-color: #000;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}


.accordion-container .accordion-title {
    position: relative;
    margin: 20px;
    padding: 0.625em 0.625em 0.625em 2em;
    background-color: #1f1e1e;
    font-size: 1.25em;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
  }
  
  .accordion-container .accordion-title::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    width: 15px;
    height: 2px;
    transform: rotate(90deg);
    background: #fff;
    transition: all .3s ease-in-out;
  }
  
  .accordion-container .accordion-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    width: 15px;
    height: 2px;
    background: #fff;
    transition: all .2s ease-in-out;
  }
  
  .accordion-container .accordion-title.open::before {
    transform: rotate(180deg);
  }
  
  .accordion-container .accordion-title.open::after {
    opacity: 0;
  }
  
  .accordion-content {
    padding-left: 2.3125em;
    border-bottom: 1px dashed black;
    margin: 10px;
    text-align: justify;
  }

.heading{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 80px;
}
.heading h3{
    padding-bottom: 10px;
}
.love{
    text-align: center;
    margin: 55px auto;
}
.hellocarousal{
    width: 100%;
    height: 450px;
}
.carousel{
    width: 100%;
    height: 100%;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 52%;
    width: 100%;
}

/* Set the width of the select element */
#Menu {
    width: 515px;
    margin-left: 10px; /* Adjust the width as needed */
}

/* If you want to decrease the width of the input-box container */
.input-box {
    width: 150px; /* Adjust the width as needed */
}


.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box {
    flex: 0 0 48%; /* Adjust the width as needed */
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    box-sizing: border-box;
}
select {
    width: 47%;
    margin-left:9px;
    height: 40px;
    outline: none;
}
.input-box .details {
    display: block;
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
}

.input-box input[type="text"],
.input-box textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* Styling for date input */
.input-box .date-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
}

.input-box .date-input::-moz-calendar-picker-indicator {
    display: none;
}

label {
    font-size: 16px;
}

/* select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("arrow-down.png"); 
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 25px;
}
select::-ms-expand {
    display: none;
}

select::before {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
option {
    font-size: 16px;
} */

button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color:dimgray;
    color: white;
    cursor: pointer;
}
.photo{
    margin-top: 150px;
    text-align: center;
}

.footer{
    height: 450px;
}
.footerimg{
    margin-top: 29px;

}
.footerh3{
    border-bottom: 1px solid rgb(45, 43, 43);
    margin-top: 55px;
    color: #0090D2;
    padding-bottom: 19px;
}
.footerpara{
    font-size: 13px;
    text-align: justify;
    font-family: Verdana, sans-serif;
    font-weight: 300;
}
.socialfooter{
    cursor: pointer;
    color: #000;
}
.footerservice{
    list-style: none;
    padding-left: 0px;
}
.footerservice li{
    padding: 10px;
}
.footerservice p{
    font-size: 14px;
}
.footerservice h5{
    font-size: 18px;
       font-family: 'Montserrat';
}
.footerservice a{
    text-decoration: none;
    color: #000;
}
.footerservice a:hover{
    color: #e9d607;
}
.fa-angle-right{
    font-size: 10px;
}

.lastfooter{
    padding: 25px;
}
.socialfooter a{
    color: #000;
    font-size: 25px;
}
.socialfooter a:hover{
    opacity: 0.5;
}
.fa-instagram{
    color:red;
}
.fa-youtube{
    color:red;
}
.fa-whatsapp{
    color:green
}

.fa-facebook{
    color:rgb(51, 15, 211)
}

.fa-twitter{
    color: #0090D2;
}


.card,
.card > div {
    /* Images default to Center Center. Maybe try 'center top'? */
    background-position: center center;
    display: block;
    width: 100%;
    height: 500px;
    /* height: 100vh; // If you want fullscreen */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    overflow: hidden;
    -moz-transition: transform .4s;
    -o-transition: transform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
}

.card > div {
    position: absolute;
}



.popup-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .popup-content h2{
    text-align: center;
  }
  
  .close-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #3085d6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin-left: 50px;
  }








@keyframes boing {
    0% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(.6);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}

.to-top{
    background-color: #989595;
    position: fixed;
    width: 50px;
    height: 50px;
    right: 45px;
    bottom: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #000;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}
.to-top.active{
    bottom: 60px;
    opacity: 1;
    pointer-events:all;
}


/* Style the button when hovered */
.button:hover {
     color: #fff; 
    font-weight: 600;
    background-color: green;
}

@media (max-width: 568px) {
    .slider,
        .slider > div {
            height: 400px; 
            width: 100%;/* Let the height adjust to the image content */
        }
        .navbar-nav {
            flex-direction: column;
            margin-right: 0;
        }
    
        .navbar-toggler {
            margin-right: 15px; 
        }
    
        .img-fluid {
            width: 5%;
            margin-left: 0;
        }
    
        .navbar-collapse {
            position: relative;
        }
    
        .navbar-nav.ms-auto {
            margin: 0;
        }
    
        .nav-item {
            position: relative;
        }
    
        .nav-item:hover .dropdown-menu {
            display: block;
            opacity: 1;
            position: static;
            width: 100%; 
        }
    
        .dropdown-menu {
            position: static;
            opacity: 1;
            display: none;
            width: 100%;
        }
    
        .dropdown-menu li {
            border-top: none; /* Remove the border between dropdown items */
        }
    
        .dropdown-menu li a {
            padding-left: 20px; /* Add a bit more padding for dropdown items */
        }
    
        .nav-item.dropdown.active > .nav-link,
        .nav-item.dropdown:hover > .nav-link {
            background-color: #f4f6f7;
            color: #007bff;
        }
    
        /* Adjust the background color of the "More" link to match the highlight style */
        .dropdown-menu .back-button a:hover {
            background-color: #f4f6f7;
        }
    
    
    .caret-down-icon {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 35px;
        vertical-align: middle;
        content: "";
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black; /* You can change the color to match your design */
    }
    
    .text-container{
        display: none;
    }
    .pad15 .carousel-image{
        width: 100%;
    }
    .lastfooter {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px 0; 
        background-color: #ededed;
        color: #000;
    }
   
    /* Add margin and padding for better spacing on small screens */
    .container .heading img {
        margin: 20px 0;
        max-width: 100%;
    }

    /* Reduce font size for the heading */
    .container .text h4 {
        font-size: 16px;
    }

    /* Add spacing between elements in the anchor section */
    .container .anchor {
        margin-top: 120px;
    }
    .button:hover {
        color: #fff; 
       font-weight: 600;
       background-color: green;
   }
   .large{
    display:none;
   }
   .text{
    width:100%;
   }
   .input-box{
    width:100%;
   }
   .popup-content {
    max-width: 60%;
    height:120px;
    font-size: 10px;
}
.close-btn{
    width:80px;
    margin-top: -50px;
}
.popup-content h2{
    color:green;
}
}

